<section id="parallax-3" class="hero is-large ">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-6">
          <h1 class="title is-1 ">Amet Consectetur</h1>
          <hr class="content-divider">
          <h2 class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure minus nam necessitatibus neque in perferendis eveniet dolorum assumenda dolores accusamus.</h2>
          <a href="#" class="button is-white is-inverted">Next&ensp;<i class="fad fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>