<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 ">{{ page.title }}</h1>
      <h2 class="subtitle">
        Our commitment is to enhance your <a href="https://www.monday.com/">Monday.com</a> experience.
        Whether you need automation tools, integrations, or advanced features, we create solutions designed to help teams work smarter, faster, and more efficiently.
      </h2>

      <!--  button  -->
      <!--
      <a href="#" class="button is-white is-medium is-inverted">
        Learn More&ensp;<i class="fad fa-chevron-right"></i>
      </a>
      -->
    </div>
  </div>
</section>