<section id="parallax-1" class="hero is-medium has-background-black-bis">
  <div class="hero-body">
    <div class="container">
      <a href="{{ site.url }}/solutions/">
        <h1 class="title is-1 ">Solutions</h1>
      </a>
      <hr class="content-divider">

      <div class="columns">
        <div class="column is-one-fifth">

          <a href="{{ site.url }}/solutions/find_and_replace/">
            <div class="card">
              <div class="card-content has-background-black	">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48 has-background-white">
                      <img
                        src="{{ site.url }}/assets/images/find-replace.png"
                        alt="Find & Replace"
                      />
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-5">Find & Replace</p>
                  </div>
                </div>

                <div class="content">
                  Enable quick and accurate updates to save time and reduce manual errors.
                </div>
              </div>
            </div>
          </a>

        </div>

        <div class="column is-one-fifth"></div>
        <div class="column is-one-fifth"></div>
        <div class="column is-one-fifth"></div>
        <div class="column is-one-fifth"></div>
      </div>

    </div>
  </div>
</section>