<section id="parallax-2" class="hero is-medium">
  <div class="hero-body">
    <div class="container">

      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48 has-background-white">
            <img
              src="{{ site.url }}{{ page.image_path }}"
              alt="{{ page.title}}"
            />
          </figure>
        </div>
        <div class="media-content">
          <h2 class="title is-2 ">{{ page.title }}</h2>
        </div>
      </div>

      <hr class="content-divider">

      <div class="columns">
        <div class="column is-6">
          <p class="subtitle is-5 has-text-grey-lighter">
            {{ page.introduction }}
          </p>
          <p class="subtitle is-5 has-text-grey-lighter"
          {% if page.arguments %}style="margin-bottom: 0px;"{% endif %}>
            {{ page.whatyouget }}{% if page.arguments %}:{% endif %}

            {% if page.arguments %}<dl class="has-text-grey-lighter">{% endif %}
              {% for point in page.arguments %}
                <dt class="is-size-5">- {{ point.name }}:</dt>
                <dd style="margin-left: 20px;" class="is-size-5">  {{ point.arg }}</dd>
              {% endfor %}
            {% if page.arguments %}</dl>{% endif %}
          </p>

        </div>
        <div id="video" class="column is-6">
          <div class="card">
            <div class="card-image">
              <figure class="is-16by9">
                <video controls class="has-ratio" >
                  <source src="{{ site.url }}{{ page.video_path }}.mp4" type="video/mp4" />
                  <source src="{{ site.url }}{{ page.video_path }}.mov" type="video/mov" />
                </video>
              </figure>
            </div>
          </div>
        </div>
      </div>

      {% if page.images %}
      <div class="columns is-centered">
        {% for image in page.images %}
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9">
                <img
                  src="{{ site.url }}{{ image.path }}"
                  alt="{{ image.alt }}"
                />
              </figure>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if page.monday_install_button != '' %}
      <div id="install" class="mt-6">
        <h3 class="title is-3">Installation</h3>
        <p class="subtitle is-5 has-text-grey-lighter mt-3">
          Quickly install the app using this button:
        </p>
        {{ page.monday_install_button }}

      </div>
      {% endif %}


      <div id="pricing" class="mt-6">
        <h3 class="title is-3">Pricing</h3>
        <p class="subtitle is-5 has-text-grey-lighter mt-3">
          {% if page.pricing.f14d_trials %}
          We offer a 14 day free trial! If you like the app, if you think it could be useful for your team, we offer the following plans:
          {% endif %}

          <div class="columns is-centered">
            {% for plan in page.pricing.plans %}
              <div class="column is-one-fifth">
                <div class="card">
                  <header class="card-header has-background-grey">
                    <p class="card-header-title">{{ plan.name }}</p>
                  </header>
                  <div class="card-content has-background-white">

                      <ol style="list-style-type: square;">
                        <li class="has-text-grey">Seats: {% if plan.seats != 'Unlimited' %}Up to {% endif %}{{plan.seats}}</li>
                        <li class="has-text-grey">Price:
                          <ul style="list-style-type: circle;" class="ml-3">
                            <li><span class="has-text-grey-dark">${{plan.yearly}}</span>/month (billed yearly)</li>
                            <li><span class="has-text-grey-dark">${{plan.monthly}}</span>/month (billed monthly)</li>
                          </ul>
                        </li>
                        <li class="has-text-grey">Features:
                          <ul style="list-style-type: circle;" class="ml-3">
                            {% for arg in plan.features %}
                            <li>{{ arg }}</li>
                            {% endfor %}
                          </ul>
                        </li>
                      </ol>

                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </p>
      </div>

      <div id="terms_of_service" class="mt-6">
        <h3 class="title is-3">Terms of Service</h3>
        <ol class="subtitle is-4 has-text-grey-lighter" start="1">

          {% for term in page.terms_of_service %}
          <li>
            <h5 class="title is-5 mt-5">{{ term.section }}</h5>
            <div class="is-size-6">{{ term.arg }}{% if term.arg_type == 'list' %}:{% endif %}</div>
            {% if term.arg_type == 'list' %}
              <ol class="is-size-6" type="i">
                {{ term.intro }}
                {% for arg in term.args %}
                  <li>{{ arg }}</li>
                {% endfor %}
              </ol>
            {% endif %}
            </li>
          {% endfor %}

        </ol>
      </div>

      <div id="privacy_policy" class="mt-6">
        <h3 class="title is-3">Privacy Policy</h3>
        <ol class="subtitle is-4 has-text-grey-lighter" start="1">

          {% for term in page.privacy_policy %}
          <li>
            <h5 class="title is-5 mt-5">{{ term.section }}</h5>
            <div class="is-size-6">{{ term.arg }}{% if term.arg_type == 'list' %}:{% endif %}</div>
            {% if term.arg_type == 'list' %}
              <ol start="i">
                {{ term.intro }}
                {% for arg in term.args %}
                  <li>{{ arg }}</li>
                {% endfor %}
              </ol>
            {% endif %}
            </li>
          {% endfor %}

        </ol>
      </div>

      <div id="faqs" class="mt-6">
        <h3 class="title is-3">Frequently asked questions</h3>
        <ol style="list-style-type: square;">

          {% for faq in page.faqs %}
          <li>
            <h5 class="title is-5 mt-5">{{ faq.question }}</h5>
            <div class="is-size-6">{{ faq.answer | safeHTML }}</div>
          </li>
          {% endfor %}
        </ol>
      </div>

    </div>
  </div>
</section>